{% extends "base.html" %}

{% block content %}
<h1>Добавление записи</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.about_it.label }}<br>
            {{ form.about_it(class="form-control") }}<br>
            {% for error in form.about_it.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}