{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in jobs%}
<div class="col-md6 border round padding">
    <h2># Action № {{loop.index}} </h2>
    <table>
        <tr>
            <th>type of activity</th>
            <th>team leader</th>
            <th>duration</th>
            <th>list of collaborators</th>
            <th>is finished</th>
        </tr>
        <tr>
            <td>{{item.job}}</td>
            <td>{{item.team_leader.surname}} {{item.team_leader.name}}</td>
            <td>{{item.work_size}} hours</td>
            <td>{{item.collaborators}}</td>
            <td>
                {% if item.is_finished %}
                finished
                {% else %}
                is not finished
                {% endif %}
            </td>
        </tr>
    </table>
    {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == item.team_leader.id) %}
    <div>
        <a href="/add_jobs/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}

</div>
{% endfor %}
{% endblock %}