{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.about_it}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.time}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/add_news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}